<% layout('layouts/boilerplate') %>
<body>
    <form method="post" action="/listings">
        <h1 id="createHead">Create new Listing</h1>
        <h2 class="create">Enter the title : </h2>
        <input name="title" type="text">
        <br>
        <h2 class="create">Enter the description : </h2>
        <input name="description" type="text">
        <br>
        <h2 class="create">Enter the Image url : </h2>
        <input name="image" type="text">
        <br>
        <h2 class="create">Enter the Price : </h2>
        <input name = "price" type="number">
        <br>
        <h2 class="create">Enter the location : </h2>
        <input name = "location" type="text">
        <br>
        <h2 class="create">Enter the Country : </h2>
        <input name = "country" type="text">
        <button>Submit</button>
    </form>
</body>
