<% layout('layouts/boilerplate') %>
<body>
    <!-- <h1>All Listings</h1> -->
    <!-- <form method="get" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->
    <br>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% for(let i=0;i< allListing.length; i++){ %>
    <a href="/listing/<%= allListing[i]._id %>"class="listing_link">
    <div class="card col" style="width: 20rem;">
        <img src="<%= allListing[i].image.url %>" class="card-img-top" alt="..." style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b><%= allListing[i].title %></b>
            <br>
            &#8377; <%= (allListing[i].price).toLocaleString("en-IN") %> / night
        </p>
        </div>
    </div>
    </a>
    <% } %>
    </div>
</body>


