<% layout('layouts/boilerplate') %>
<!-- <br>
<br> -->
<div class="card border border-dark rounded mt-4 col-6 offset-3 " style="width: 35rem;">
    <h5 class="card-title m-3">Login to Wanderer</h2>
    <form method="POST" action="/login">
      <div class="mb-3 m-4">
        <label for="username" class="form-label">Username : </label>
        <input
          name="username"
          type="text"
          class="form-control"
          required
        >
        <!-- <div class="invalid-feedback">Please enter description</div> -->
      </div>
      <div class="mb-3 m-4">
        <label for="password" class="form-label">Password : </label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
        >
        <!-- <div class="invalid-feedback">Please enter description</div> -->
      </div>
      <button class="btn btn-dark m-4">Login</button>
      </form>
</div>